@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-back {
    @apply h-full w-full;
  }
  .card-back-img {
    @apply h-full w-full object-cover;
  }
}

.card-container {
  cursor: pointer;
  height: 240px;
  width: 160px;
  perspective: 1000px;
}

.card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  display: grid;
  grid-template-rows: 80% 20%;
  height: 100%;
  width: 100%;

  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(180deg);
}
