.fire-hex-container {
  position: absolute;
  top: 0;
  left: 10%;
  height: 100%;
  width: 80%;
  z-index: 1;
}

.fire-hex {
  position: relative;
  height: 100%;
  width: 100%;
  filter: url(#wavy) blur(1px);
  z-index: 1;
}

.fire-hex__w {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 100%;
}

.fire-hex__tl {
  position: absolute;
  height: 38%;
  width: 100%;
  transform: rotate(60deg);
  top: 20%;
}

.fire-hex__tr {
  position: absolute;
  height: 38%;
  width: 100%;
  transform: rotate(120deg);
  top: 20%;
}

.fire-hex__bl {
  position: absolute;
  height: 38%;
  width: 100%;
  transform: rotate(120deg);
  bottom: 20%;
}

.fire-hex__br {
  position: absolute;
  height: 38%;
  width: 100%;
  transform: rotate(60deg);
  bottom: 20%;
}
